header {
    width: 100%;
    display: flex;
    border: 1px solid gray;
    position: relative;
    top: 0;
  }
  .lo-re{
      padding: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .lo-re a{
    text-decoration: none;
    font-weight: bolder;
  }
  .icon {
      display: flex;
      justify-content: center;
      align-items: center;
    width: 35px;
    border-right: 1px solid gray;
  }