header {
    display: flex;
    align-items: center;
   border: 1px solid gray;
  height: 10vh;
  font-weight: 300;
   position: relative;
}
header .icon {
    display: flex;
    justify-content: space-between;
    align-items:center ;
    width: 100%;
    padding: 0px 20px;
}
header .icon a {
    text-decoration: none;
}
 header  i{
    border: none;
  font-weight: 300;
    font-size: 40px;
    cursor: pointer;

    padding: 25px;
    border: 1px solid gray;
    height: 100%;
}
